

    .Request-now-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 10px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;           
    vertical-align: top;
    }

    .Request-now-button:hover {
    opacity: 0.9;
    }


    .Add-to-Cart-button{
    background-color: yellow;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    margin-right: 10px;
    padding-left: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 48px;           
    vertical-align: top;
    }

    .Add-to-Cart-button:hover {
        background-color: orange;
    }

    .Sign-up-button{
        background-color: green;
        border: none;
        color: white;
        border-radius: 8%;
        cursor: pointer;
        margin-right: 10px;
        font-weight: bold;
         padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 18px;           
    vertical-align: top;
    }

    .Sign-up-button:hover {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    }
    

    .Get-started-button{
        background-color: purple;
        border: none;
        color: white;
        border-radius: 2px;
        cursor: pointer;
        font-weight: bold;
        margin-right: 5px;
         padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 18px;           
    vertical-align: top;
    }

    .Get-started-button:hover {
        background-color: rgba(92, 1, 92, 0.966);
    }

    .Download-button{
        background-color: white;
        color: grey;
        font-weight: bold;
        border-color: grey;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
         padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;           
    vertical-align: top;
    }

    .Download-button:hover {
        background-color: grey;
        color: white;
    }

    .Apply-on-company-website-button{
        background-color: rgb(6, 30, 248);
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 18px;
        cursor: pointer;
        margin-right: 5px;
        font-size: 15px;
         padding-left: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 23px;           
    vertical-align: top;
    }

    .Apply-on-company-website-button:hover {
        background-color: blue;
    }

    .Save-button{
        background-color: white;
        color: rgb(6, 30, 248);
        border-color: rgb(6, 30, 248);
        font-weight: bold;
        font-size: 15px;
        border-radius: 18px;
        margin-bottom: 30px;
        cursor: pointer;
         padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;           
    vertical-align: top;
    }

    .Save-button:hover {
        background-color: lightsteelblue;
    }